# ignore LHAPDF folder and .tar.gz
LHAPDF-6.0.5/
LHAPDF-6.0.5.tar.gz

# ignore the installed LHAPDF version
local/

#ignore yaml installation necessary for LHAPDF
yaml-cpp/

#ignore compiled hist_maker
lib/hist_maker

#ignore .log files
*.log

#ignore the tmp file used for the PDF calculations
python/tmp/
