*.[oaP]
*.so
*.pyc
*~
*.d
*.gcda
\#*\#
*.tar.gz
*Dict.cc
*Dict.h
music
ECCrossSectionRescaler
ECFileUtil
ECMerger
GlobalStuff
ROI_analysis
TECResultMerger
ScaledXSections.txt
bin/*
lib/*
local
Validator/MusicOutDir/
Validator/comparison_dir/
Validator/output/
Validator/test.pdf
Validator/log/*
specialAna/
specialAna/*
doc/doxy*
doc/html/
doc/latex/
doc/man

